{% if activity is defined %}
  {% set active_entity = activity %}
{% else %}
  {% set active_entity = task %}
{% endif %}

<div id="sidebar" class="mb-4">
  {# Activities list #}
  <div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
      {{ 'task_activities'|trans }}
    </div>
    <div class="list-group list-group-flush">
      <a href="{{ path('tasks_show', {'id': task.id}) }}" class="d-flex align-items-center list-group-item list-group-item-action {% if active_entity == task %}active{% endif %}">
        <i data-feather="chevron-right" class="mr-2"></i>{{ 'introduction'|trans }}
      </a>
      {% for a in task.activities %}
        <a href="{{ path('activities_show', {'id': a.id}) }}" class="d-flex align-items-center list-group-item list-group-item-action {% if a == active_entity %}active{% endif %}">
          <i data-feather="chevron-right" class="mr-2"></i>
          {% include '_i18n/print_name.html.twig' with {'entity': a} %}
          {% if a.training %}
            &nbsp;<span class="badge badge-secondary">{{ 'exercise'|trans }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>

  {# Metadata #}
  {% if active_entity.humanUpdatedAt is not empty %}
    <div class="d-flex justify-content-center">
      <span class="badge badge-light p-2">
        {{ 'updated'|trans }} {{ active_entity.humanUpdatedAt | date("d.m.Y") }}
      </span>
    </div>
  {% endif %}
</div>