{% if tools is not empty %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        Outils liés
        <span class="label label-primary pull-right">{{ tools | length }}</span>
      </h2>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-striped table-tools">
        {% for tool in tools %}
          <tr>
            <td>
              <a href="{{ tool.link }}">
                {% if tool.imageName is empty %}
                  <img src="{{ ('/images/void.png') | imagine_filter('thumb_50') }}" alt="{{ tool.name }}" >
                {% else %}
                  <img src="{{ vich_uploader_asset(tool, 'imageFile') | imagine_filter('thumb_50') }}" alt="{{ tool.name }}" >
                {% endif %}
              </a>
            </td>
            <td><a href="{{ tool.link }}"><strong>{{ tool.name }}</strong></a></td>
            <td>
              {% for family in tool.families %}
                <span class="label label-default">{{ family.nameFr }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endif %}