<footer id="footer-nte" class="bg-primary mt-4 p-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul class="list-unstyled">
          <li><a href="//unifr.ch"><i class="fas fa-angle-right"></i> Université de Fribourg</a></li>
          <li><a href="//unifr.ch/it"><i class="fas fa-angle-right"></i> Direction des Services IT</a></li>
          <li><a href="//unifr.ch/nte"><i class="fas fa-angle-right"></i> Centre NTE</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/ch/deed.fr">
          <img src="{{ asset('images/cc.large.png') }}" alt="cc" width="30">
          <img src="{{ asset('images/by.large.png') }}" alt="by" width="30">
          <img src="{{ asset('images/nc.large.png') }}" alt="nc" width="30">
          <img src="{{ asset('images/sa.large.png') }}" alt="sa" width="30">
          <br>
          {{ 'license'|trans }}
        </a>
      </div>
    </div>
  </div>
</footer>