<nav id="navbar-nte-uni" class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <span class="navbar-brand mb-0 h1 d-flex align-items-center">
    <a href="//unifr.ch"><img src="{{ asset('images/square.png') }}" width="40" height="40" alt="" class="mr-4"></a>
    Myple
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link {{ tasks_active }}" href="{{ path('tasks_index') }}">Scénarios</a>
      <a class="nav-item nav-link {{ tools_active }}" href="{{ path('tools_index') }}">Outils</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link {{ about_active }}" href="{{ path('about') }}">A propos</a>
      <a class="nav-item nav-link" href="http://www3.unifr.ch/nte/fr/contact.html">Contact <i class="fal fa-external-link-square-alt"></i></a>
    </div>
  </div>
</nav>