{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

<nav id="navbar-nte" class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 d-flex align-items-center">
    <a href="//unifr.ch"><img src="{{ asset('images/square.png') }}" width="40" height="40" alt="" class="mr-4"></a>
    <a href="{{ path('home') }}">Myple</a>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav mr-auto">
      <li id="nav-dropdown" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if tasks_active %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'tasks'|trans }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for navTask in navTasks %}
            <a class="dropdown-item {% if task is defined and task == navTask %}active{% endif %}" href="{{ path('tasks_show', { 'id': navTask.id }) }}">{% include '_i18n/print_name.html.twig' with {'entity': navTask} %}</a>
          {% endfor %}
        </div>
      </li>
      <a class="nav-item nav-link {{ tools_active }}" href="{{ path('tools_index') }}">{{ 'tools'|trans }}</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="http://www3.unifr.ch/nte/fr/contact.html">{{ 'contact'|trans }} <i data-feather="external-link" width="14" height="14"></i></a>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if "fr" in app.request.locale %}
            <span class="flag-icon flag-icon-fr flag-icon-squared rounded-circle"></span>
          {% elseif "de" in app.request.locale %}
            <span class="flag-icon flag-icon-de flag-icon-squared rounded-circle"></span>
          {% elseif "it" in app.request.locale %}
            <span class="flag-icon flag-icon-it flag-icon-squared rounded-circle"></span>
          {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
          <a class="dropdown-item {% if "fr" in app.request.locale %}active{% endif %}" href="{{ path(route, params|merge({ _locale: 'fr' })) }}">
            <span class="flag-icon flag-icon-fr flag-icon-squared rounded-circle"></span> Français
          </a>
          <a class="dropdown-item {% if "de" in app.request.locale %}active{% endif %}" href="{{ path(route, params|merge({ _locale: 'de' })) }}">
            <span class="flag-icon flag-icon-de flag-icon-squared rounded-circle"></span> Deutsch
          </a>
          <a class="dropdown-item {% if "it" in app.request.locale %}active{% endif %}" href="{{ path(route, params|merge({ _locale: 'it' })) }}">
            <span class="flag-icon flag-icon-it flag-icon-squared rounded-circle"></span> Italiano
          </a>
        </div>
      </li>
    </div>
  </div>
</nav>