{% if tools is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Outils liés
                <span class="label label-primary pull-right">{{ tools | length }}</span>
            </h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-tools">
                {% for tool in tools %}
                    <tr>
                        <td>
                            {% if tool.imageName is empty %}
                                <img src="{{ ('/images/void.png') | imagine_filter('thumb_50') }}" alt="{{ tool.name }}" >
                            {% else %}
                                <img src="{{ vich_uploader_asset(tool, 'imageFile') | imagine_filter('thumb_50') }}" alt="{{ tool.name }}" >
                            {% endif %}
                        </td>
                        <td><strong>{{ tool.name }}</strong></td>
                        <td>
                            {% for family in tool.families %}
                                <span class="label label-default">{{ family.nameFr }}</span>
                            {% endfor %}
                        </td>
                        <td><a class="btn btn-info btn-sm" href="{{ tool.link }}"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}