<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - MyPLE</title>

    {% block stylesheets %}
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
      {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('built/app.css') }}">
      {% else %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
      {% endif %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="d-flex flex-column">

    {% include '_navbar.html.twig' with { tasks_active: block('tasks_active'), tools_active: block('tools_active'), about_active: block('about_active') } %}

    <div class="container-fluid flex-grow px-5">
      {% block body %}{% endblock %}
    </div>

    {% include '_footer.html.twig' %}

    {% block javascripts %}
      {% if app.environment == 'prod' %}
        <script src="{{ asset('built/app.js') }}"></script>
      {% else %}
        <script src="{{ asset('build/app.js') }}"></script>
      {% endif %}
    {% endblock %}

    {% include '_matomo.html.twig' %}
  </body>
</html>
