{% extends 'index/_template-box.html.twig' %}

{% block boxIcon %}clipboard{% endblock %}
{% block boxTitle %}{{ 'formations'|trans }}{% endblock %}
{% block boxSubtitle %}{{ 'training_explanation'|trans }}{% endblock %}
{% block boxBlock1 %}{{ formationsNb }} {{ 'formations'|trans }}{% endblock %}
{% block boxBlock2 %}{% endblock %}
{% block boxLink %}
  <a href="{{ path('formations_index') }}" class="btn btn-primary btn-block">
    {{ 'formations_action'|trans }}
  </a>
{% endblock %}