<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#help{{ task.id }}" aria-controls="help" role="tab" data-toggle="tab" aria-selected="true">
      <h3 class="h5">{{ 'summary'|trans }}</h3>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tools{{ task.id }}" aria-controls="tools" role="tab" data-toggle="tab" aria-selected="false">
      <h3 class="h5">{{ 'tools'|trans }}</h3>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#resources{{ task.id }}" aria-controls="resources" role="tab" data-toggle="tab" aria-selected="false">
      <h3 class="h5">{{ 'resources'|trans }}</h3>
    </a>
  </li>
  {% if formations %}
    <li class="nav-item">
      <a class="nav-link" href="#formations{{ task.id }}" aria-controls="formations" role="tab" data-toggle="tab" aria-selected="false">
        <h3 class="h5">{{ 'formations'|trans }}</h3>
      </a>
    </li>
  {% endif %}
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active py-4 pl-2 raw" id="help{{ task.id }}">
    {% include '_i18n/print_help.html.twig' with {'entity': task} %}
  </div>
  <div role="tabpanel" class="tab-pane fade py-4 pl-2" id="tools{{ task.id }}">
    {% include '_shared/_tools-list.html.twig' %}
  </div>
  <div role="tabpanel" class="tab-pane fade py-4 pl-2" id="resources{{ task.id }}">
    {% include '_shared/_resources-list.html.twig' with { 'resources': resources, 'list_title': 'linked_resources'|trans } %}
    {% include '_shared/_resources-list.html.twig' with { 'resources': tutorials, 'list_title': 'linked_tutorials'|trans } %}
  </div>
  <div role="tabpanel" class="tab-pane fade py-4 pl-2" id="formations{{ task.id }}">
    {% include '_shared/_formations-list.html.twig' with { 'formations': formations, 'list_title': 'linked_formations'|trans } %}
  </div>
</div>