{% if task.recap %}
  <a class="btn btn-lg btn-info btn-block mb-2" href="{{ vich_uploader_asset(task, 'recapFile') }}" alt="{{ task.recap }}">
    <i class="fas fa-file-pdf"></i>&nbsp;
    {{ 'full_task'|trans }} (PDF)
  </a>
{% endif %}
{% if task.humanUpdatedAt is not empty %}
  <div class="card mb-2">
    <div class="card-header font-italic">
      {{ 'updated'|trans }} {{ task.humanUpdatedAt | date("d.m.Y") }}
    </div>
  </div>
{% endif %}
<div class="d-none d-md-block">
  {% include '_shared/_activities-panel.html.twig' with { 'activities': task.activities, 'active': 'no' } %}
</div>