<div class="tool card mb-3 mix {% for family in tool.families %}family-{{ family.id }} {% endfor %}" data-order="{{ tool.name }}">
  <div class="card-header d-flex align-items-center">
    {% if tool.imageName is empty %}
      <img class="mr-3" src="{{ ('/images/void.png') | imagine_filter('thumb_50') }}" alt="">
    {% else %}
      <img class="mr-3" src="{{ vich_uploader_asset(tool, 'imageFile') | imagine_filter('thumb_50') }}" alt="">
    {% endif %}
    <h5 class="mb-0">{{ tool.name }}</h5>
    {% include '_i18n/print_info.html.twig' with {'entity': tool} %}
  </div>
  <div class="card-body p-0">
    <div class="list-group list-group-flush">
      {% if tool.activities is not empty %}
        <a tabindex="0" class="list-group-item list-group-item-action tools-popover d-flex justify-content-between align-items-center pointer" role="button"
          data-toggle="popover" data-id="{{ tool.id }}" data-trigger="focus">
          {{ 'linked_activities'|trans }} <span class="badge badge-pill badge-primary">{{ tool.activities | length }}</span>
        </a>
      {% endif %}
      <a href="{{ tool.link }}" class="list-group-item list-group-item-action">{{ 'go_to_tool'|trans }} <i data-feather="external-link" width="14" height="14"></i></a>
    </div>
  </div>
  <div class="card-footer">
    {% for family in tool.families %}
      <span class="badge badge-light bg-white">{% include '_i18n/print_name.html.twig' with {'entity': family} %}</span>
    {% endfor %}
    {% for tag in tool.tags %}
      <span class="badge badge-light bg-white">{% include '_i18n/print_name.html.twig' with {'entity': tag} %}</span>
    {% endfor %}
  </div>
</div>
<div class="d-none">
  <div class="tool-activities" data-id="{{ tool.id }}">
    {% include '_shared/_activities-list.html.twig' with { 'activities': tool.activities, 'active': 'no' } %}
  </div>
</div>