<div class="tool col-sm-6 col-lg-3" data-title="{{ tool.name }}"
  data-groups='[{% for family in tool.families %}{{ family.id }}{% if not loop.last %},{% endif %}{% endfor %}]'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ tool.name }}</h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left media-middle">
          {% if tool.imageName is empty %}
            <img src="{{ ('/images/void.png') | imagine_filter('thumb_50') }}" alt="">
          {% else %}
            <img src="{{ vich_uploader_asset(tool, 'imageFile') | imagine_filter('thumb_50') }}" alt="">
          {% endif %}
        </div>
        <div class="media-body">
          <div class="families">
            {% for family in tool.families %}
              <span class="label label-default">{{ family.nameFr }}</span>
            {% endfor %}
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <a href="{{ tool.link }}" role="button" class="btn btn-default"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            {% include 'tools/_info.html.twig' %}
            {% if tool.activities is not empty %}
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ tool.id }}Modal">Activités liées</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'tools/_activities.html.twig' %}